body {
    font-weight: bold;
    /* background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}


/* 
 * SHOES IMAGES
 */

.shoes-images {
    padding-top: 27px;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.shoes-images h2{
    text-align: center;
    font-weight: normal;
}

.shoes-images p {
    text-align: center;

}

img {
    display: block;
    margin: 5px auto;
    max-width: 90%;
    /* height: 50%; */
    width: auto;
    margin-bottom: 27px;
}

/* .shoes-images.left, .shoes-images.right {
    flex: 2;
} */

@media (max-width: 47em) { /* 1em == 768px (tamaño de la fuente raíz) */
    .shoes-images {
        /* flex-direction: column; */
        grid-template-columns: 1fr;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1c1b;
        color: aliceblue;
    }
}
